@import url(http://fonts.googleapis.com/css?family=Exo:400,800|Droid+Sans);

body {
    background: #ddd;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo', sans-serif;
    font-weight: 800;
}
h1 small {
    font-weight: normal;
}
a {
    transition: color ease 1s, background ease 1s;
}

.main-header {
    background: #000 url(../img/slate.jpg) repeat-y center center;
    color: #ddd;
    text-align: center;
    padding: 20px 0;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}
.main-header h1 {
    font-size: 90px;
    margin: 0;
}
.main-header strong {
    font-weight: 800;
}
.main-header .subtitle {
    font-size: 28px;
    margin: 0;
    padding: 0;
    color: #ccc;
}
.main-header .subtitle strong {
    color: #777;
}


.main-header {
    color: #fff;
}
.main-header h1,
.main-header .subtitle {
    transition: color ease 10s;
}
.main-header:hover h1 {
    color: #EEEECC;
}
.main-header:hover .subtitle {
    color: #EEEECC;
}
.main-header:hover .subtitle strong {
    color: #A1C0E6;
}
.main-header:hover h1 small {
    color: #A1C0E6;
}



.main-nav {
    background: #333;
}
.main-nav a {
    color: #fff;
}
.main-nav .nav > li > a:hover,
.main-nav .nav > li > a:focus {
    background: #444;
    border-radius: 0;
}
.main-footer {
    background: #111;
    border-top: solid 10px #333;
    color: #ddd;
    padding: 10px 0;
    margin-top: 20px;
}

section {
    padding: 10px 0;
    /* background: #f8f8f8; */
    /* border-bottom: dashed 1px #ccc; */
}
section.first {
    background: #fff;
    box-shadow: rgba(0,0,0,.2) 0 10px 10px;
    margin-bottom: 20px;
    font-size: 120%;
}

section.first .well {
    background: #0DB1DB;
    color: #fff;
    text-shadow: rgba(0,0,0,.5) 1px 1px 1px;
}

section:not(.first) > .container {
    background: #f8f8f8;
    /* background: #f8f8f8 url(img/grid.png) -1px -1px; */
    /* border: solid 1px #eee; */
    box-shadow: rgba(0,0,0,.2) 3px 3px 15px;
    padding: 120px 40px 20px;
    position: relative;
    font-size: 120%;
    background: #fff url(../img/paper.jpg);
}

section:not(.first) > .container > h2:first-of-type {
    /* background: #f8f8f8 url(img/grid.png) -1px -1px; */
    background: #0B9ABB;

    color: #fff;
    text-shadow: rgba(0,0,0,.5) 1px 1px 1px;

    border: solid 1px #0B9ABB;
    border-top-color: #81C6D6;
    border-left-color: #81C6D6;
    border-right-color: #095A6D;
    border-bottom-color: #095A6D;


    padding: 10px 50px;
    display: inline-block;
    box-shadow: rgba(0,0,0,.2) 2px 2px 5px;
    left: -30px;
    top: 20px;
    position: absolute;

    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);

    transition: transform ease 2s;
    -webkit-transition: -webkit-transform ease 2s;
    -moz-transition: -moz-transform ease 2s;
}
section:not(.first) > .container > h2:first-of-type:hover {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}

.back-to-top {
    text-align: right;
    opacity: .5;
}

.comic-dialog {
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
}
.comic-dialog .inner {
    /* background: #6C9ED9; */
    /* background: #0B9ABB; */
    /* background: #89B4BE; */
    /* background: #888; */
    background: #aaa;
    color: #fff;
    padding: 10px 30px;
    text-shadow: rgba(0,0,0,.8) 1px 1px 2px;
    border-radius: 5px;
    display: inline-block;
}
.comic-dialog:after {
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    border-top: 0 solid rgba(0, 0, 0, 0);
    bottom: -20px;
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
}
.comic-dialog:nth-child(odd) {
    text-align: left;
}
.comic-dialog:nth-child(odd):after {
    border-left: 35px solid #aaa;
    left: 45px;
}
.comic-dialog:nth-child(even) {
    text-align: right;
}
.comic-dialog:nth-child(even):after {
    border-right: 35px solid #aaa;
    right: 45px;
}

table.table-talks > tbody > tr > td:first-child {
    width: 120px;
}
table.table-talks > tbody > tr > td:last-child {
    width: 160px;
    font-weight: bold;
    text-align: center;

    background: #0DB1DB;
    color: #fff;
    text-shadow: rgba(0,0,0,.5) 1px 1px 1px;
}
table.table-talks > tbody > tr.break > td {
    background: #ffd;
}

span[title] {
    text-decoration: underline;
    cursor: help;
}

.table-talks .talk-title {
    font-weight: bold;
}
.table-talks .speaker-name {
    font-style: italic;
}
